<app-header></app-header>
<div class="row" style="margin-top: 75px;">

    <div class="col-md-3"></div>

    <div class="bg-mute text-center w-50 mt-5 col-md-6 border rounded-4 px-5">
        <h3 class="mt-2 p-1 text-light">Add Restaurant</h3>

        <form action="" class="mt-2 p-1 ">
            <div class="row d-flex ">
                <div col-6 class=" mb-2" style="width: 50%;">
                    <input type="text" placeholder="Id" class="form-control">
                    <input type="text " placeholder="Neighborhood" class="form-control mt-2">
                    <input type="file"  placeholder="" class=" mt-2">
                   
                </div>

                <div class=' col-6 ' style="width: 50%;">
                    <input type="text " placeholder="Name" class="form-control">
                    <input type="text" placeholder="Address" class="form-control mt-2">
                    <input type="text " placeholder="Description" class="form-control mt-2">
                    
                </div>
            </div>

            <div class="row d-flex ">
                <div col-6 class="mb-2" style="width: 50%;">
                    <label for="" class="text-light"> Opening Hour</label>
                    <input type="text" placeholder="Sunday" class="form-control">
                    <input type="text" placeholder="Monday" class="form-control mt-2">
                    <input type="text " placeholder="Tuesday" class="form-control mt-2">
                    <input type="text " placeholder="Wednesday" class="form-control mt-2">
                    <input type="text " placeholder="Thurday" class="form-control mt-2">
                    <input type="text " placeholder="Friday" class="form-control mt-2">
                    <input type="text " placeholder="Saturday" class="form-control mt-2">
                </div>

                <div col-6 class="mb-2" style="width: 50%;">
                    <label for="" class="text-light text-start"> Reviews</label>
                    
                    <input type="text" placeholder="Name" class="form-control">
                    <input type="text" placeholder="Date" class="form-control mt-2">
                    <input type="text " placeholder="Comments" class="form-control mt-2">
                    <input type="text " placeholder="Rating" class="form-control mt-2">

                    <label for="" class="text-light text-start mt-4"> Location</label>
                    <input type="text" placeholder="Longitute" class="form-control">
                    <input type="text" placeholder="Latitude" class="form-control mt-2">

                </div>

            </div>




            <button class="btn btn-light">Submit</button>

        </form>
    </div>
    <div class="col-md-3"></div>
</div>